
<div class="contenedor-paper">
    <div class="Container paper p-5 ">

        <p class="h4">
          <strong>Nombre Enologo:</strong>
          <%= @oenologist.name %>
        </p>

        <p class="h4">
          <strong>Edad:</strong>
          <%= @oenologist.age %>
        </p>

        <p>
          <strong>Nacionalidad:</strong>
          <%= @oenologist.nationality %>
        </p>

        <div class="container contenedor-cartel2 ">
          <div class="container btn cartel2 p-4 ">
            <%= link_to 'Editar', edit_oenologist_path(@oenologist), class:"text-decoration-none text-white" %>
          </div>
        </div>

        <div class="container contenedor-cartel2 ">
          <div class="container btn cartel2 p-4 ">
            <%= link_to 'Volver', oenologists_path, class:"text-decoration-none text-white" %>
          </div>
        </div>
    </div>
</div>